<app-banner [title]="'NOSOTROS'"></app-banner>

<div class="container-fluid tm-mt-60" style="justify-content: center;">
  <div class="row mb-4" style="text-align: center;">
    <h2 class="col-12 tm-text-primary">EQUIPO TECNOJACK</h2>
    <p style="font-size: 20px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Te presentamos al equipo que realiza todo el trabajo audiovisual del que has podido disfrutar</p>
  </div>

  <ng-container *ngIf="teamVM$ | async as services; else loading">
    <div class="row tm-mb-50" *ngFor="let svc of services" style="justify-content: center;">
      <div class="col-md-4 col-12" style="text-align: center">
        <div class="tm-about-3-col">
          <img
            [src]="svc.imageUrl | safe : 'resourceUrl'"
            class="card-img-top img-team"
            alt="..."
          />

          <h2 class="tm-text-primary mb-4">{{ svc.title }}</h2>
          <p
            style="
              margin-top: -5%;
              font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
                sans-serif;
            "
          >
            {{ svc.social_profiles }}
          </p>
          <p class="mb-4">{{ svc.description }}</p>
          <hr />
          <div style="display: flex; justify-content: center">
            <a
              class="btn-get-started btn-get-startedI scrollto"
              href="https://www.instagram.com/tecnojack/"
              ><i class="bi bi-instagram btn-get-startedC"></i
            ></a>
            <a
              class="btn-get-started btn-get-startedF scrollto"
              href="https://www.facebook.com/tecnojackyt/"
              ><i class="bi bi-facebook btn-get-startedC"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #loading> loading...
    <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fserradospinhos.com.br%2Ffotografo-gif-k.html&psig=AOvVaw2nF47LEIpBpUGpZjGlIZya&ust=1680365868850000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCOj_lejIhv4CFQAAAAAdAAAAABBD" alt="">
  </ng-template>
</div>
