<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container">
    <div
      class="header-container d-flex align-items-center justify-content-between"
    >
      <div class="logo">
        <h1 class="text-light">
          <a href="/home"
            ><span
              ><img
                src="https://firebasestorage.googleapis.com/v0/b/mytech-d9ea3.appspot.com/o/src%2FlgForm.png?alt=media&token=73fe2296-d01a-41f2-bc31-065dbec1376b"
                alt=""
                class="img-fluid" /></span
          ></a>
        </h1>
      </div>

      <nav id="navbar" class="navbar">
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
          <li class="">
            <a
              class="nav-link nav-link-1 nav-link scrollto"
              aria-current="page"
              href="/home"
              >HOME</a
            >
          </li>
          <li class="">
            <a class="nav-link-2 nav-link scrollto" href="/services"
              >SERVICIOS</a
            >
          </li>
          <li class="">
            <a class="nav-link-3 nav-link scrollto" href="about">NOSOTROS</a>
          </li>
          <li class="">
            <a class="nav-link-3 nav-link scrollto" href="contact">CONTACTANOS</a>
          </li>
          <li class="">
            <a class="nav-link-4 nav-link scrollto" href="/admin"
              ><img
                class="img-admin"
                src="https://firebasestorage.googleapis.com/v0/b/mytech-d9ea3.appspot.com/o/src%2Fadmin.png?alt=media&token=27be62b6-4583-4091-856d-faa550988b1b"
                alt="admin"
              />
            </a>
          </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      <!-- .navbar -->
    </div>
    <!-- End Header Container -->
  </div>
</header>
<!-- End Header -->
