

<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container">
    <div
      class="header-container d-flex align-items-center justify-content-between"
    >
      <div class="logo">
        <h1 class="text-light">
          <a href="index.html"><span><img src="https://firebasestorage.googleapis.com/v0/b/mytech-d9ea3.appspot.com/o/src%2FMyTech-lg.png?alt=media&token=b1178851-d007-4546-8355-70e33d82d3bf" alt="" class="img-fluid"></span></a>
        </h1>

      </div>

      <nav id="navbar" class="navbar">
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
          <li class="">
            <a
              class="nav-link nav-link-1 nav-link scrollto active"
              aria-current="page"
              href="index.html"
              >Portafolio</a
            >
          </li>
          <li class="">
            <a class="nav-link-2 nav-link scrollto" href="/videos"
              >Videos</a
            >
          </li>
          <li class="">
            <a class="nav-link-3 nav-link scrollto" href="about.html"
              >Sobre nosotros</a
            >
          </li>
          <li class="">
            <a class="nav-link-4 nav-link scrollto" href="contact.html"
              >Contactanos</a
            >
          </li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      <!-- .navbar -->
    </div>
    <!-- End Header Container -->
  </div>
</header>
<!-- End Header -->
