<body>
  <div class="d-flex align-items-center justify-content-center vh-100">
      <div class="text-center">
          <h1 class="display-1 fw-bold">404</h1>
          <img src="https://www.gifsanimados.org/data/media/1037/camarografo-y-videografo-imagen-animada-0015.gif" alt="">
          <p class="fs-3"> <span class="text-danger">¡Oops!</span> ¿Estás perdido?</p>
          <p class="lead">
              La página que intentas ver no está disponible, verifica la url.
            </p>
          <a href="/home" class="btn btn-primary">Volver al inicio</a>
      </div>
  </div>
</body>
