<app-banner [title]="'HOME'"></app-banner>

<div class="row tm-mb-90">
  <div class="col-12 d-flex align-items-center tm-paging-col">
    <div class="tm-paging d-flex col-lg-11">
      <a (click)="onImage()" class="tm-paging-link"
        ><h4
          style="
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          "
        >
          <i class="bi bi-images bi-images-vid"></i>IMAGENES
        </h4></a
      >
      <a (click)="onVideo()" class="tm-paging-link"
        ><h4
          style="
             font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          "
        >
          <i class="bi bi-camera-reels-fill bi-images-vid"></i>VIDEOS
        </h4></a
      >
    </div>
  </div>
</div>

<div class="components">
  <app-images *ngIf="showImage"></app-images>
  <app-videos *ngIf="showVideo"></app-videos>
</div>
