h1 {
  font-size: 150px;
}

#home {
  width: 100%;
  height: 60vh;
  background: url("https://firebasestorage.googleapis.com/v0/b/mytech-d9ea3.appspot.com/o/src%2FTECNOJACK%20-%20copia.jpg?alt=media&token=a0dc4650-7e07-4293-8ebf-06ee0f14c547") center center;
  background-size: cover;
  position: relative;
}

#home .container {
  padding-top: 80px;
}

#home:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#home h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#home h2 {
  color: #eee;
  margin-bottom: 40px;
  font-size: 15px;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

#home .btn-get-started {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}

#home .btn-get-started:hover {
  border: 2px solid #009970;
}

#home .btn-get-startedF:hover {
  background: #0733b8;
  border: 2px solid #ffffff;
}

#home .btn-get-startedY:hover {
  background: #d80404;
  border: 2px solid #fffcfc;
}

#home .btn-get-startedI:hover {
  background: #fd05aa;
  border: 2px solid #ffffff;
}

#home .btn-get-startedT:hover {
  background: #380152;
  border: 2px solid #ffffff;
}

@media (min-width: 1024px) {
  #home {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #home {
    height: 100vh;
  }

  #home .container {
    padding-top: 60px;
  }

  #home h1 {
    font-size: 32px;
    line-height: 36px;
  }
}

.scrollto {
  text-decoration: none;
}

i {
  font-size: 15px;
  margin: 0 10px;
  transition: 0.2s;
}

.tm-paging-col {
  flex-direction: column;
}

.components {
  margin-top: -50px;
}

.tm-paging-link {
  width: 100%;
  border-color: #009999;
  border-width: 4px;
  border-style: solid;
  padding: 20px;
  box-shadow:
    inset 0 -3em 3em rgba(255, 255, 255, 0),
    0 0 0 2px rgba(255, 255, 255, 0),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.bi-images-vid{
font-size: 23px;
}
