.galeryContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 10px;
}

img {
  display: block;
}

.tm-gallery div.d-block {
  animation: show .5s ease;
}

figure {
  margin-bottom: 0.5em;
  display: block;

}

#tm-video {
  max-width: 960px;
  display: block;
  width: 960px;
  height: auto;
}

.tm-video-item {
  position: relative;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
}

.tm-paging-link-d {
  min-width: 145px;
  width: auto;
  border-color: rgb(0, 200, 255);
  border-width: 2px;
  border-style: double;
  padding: 20px;
  box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.tm-paging-link-y {
  border-color: rgb(251, 4, 119);
  border-width: 2px;
  border-style: double;
  min-width: 145px;
  padding: 20px;
  box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}

.tm-paging-link-c {
  border-color: rgb(251, 210, 4);
  border-width: 2px;
  border-style: double;
  min-width: 148px;
  width: auto;
  padding: 20px;
  box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}
.tm-text-primary{
  font-size: 15px;
}
i {
  font-size: 15px;
  margin: 0 10px;
  transition: 0.5s;
}
