

i {
  font-size: 25px;
  margin: 0 10px;
  transition: 0.2s;
}

.galeryContainer {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  margin: 10px;
}

img {
  max-height: 300px;
  object-fit: cover;
  object-position: center;
}

.btn-get-startedC {
  text-align: center;
  align-items: center;
  font-size: 30px;
  display: flex;
  transition: 0.5s;
  background: #000000;
  border: 2px solid #ffffff;
  color: #ffffff;
  justify-content: center;
}
.btn-get-startedC:hover{
  background: #ffffff;
  border: 2px solid #000000;
  color: #000000;
}
.iconsBox
{
  display: flex;
  justify-content: center;
}
