<app-banner [title]="'SERVICIOS'"></app-banner>

<ng-container *ngIf="servicesVM$ | async as services; else loading">
  <div class="tm-gallery galeryContainer">
    <div
      class="container-fluid tm-container-content tm-mt-60"
      *ngFor="let svc of services"
    >
      <div class="card col-12">
        <img
          [src]="svc.imageUrl | safe : 'resourceUrl'"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">{{ svc.title }}</h5>
          <p class="card-text">
            {{ svc.description }}
          </p>
        </div>

        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngFor="let benefit of svc.benefits">
            {{ benefit }}
          </li>
        </ul>
        <div class="card-body">
          <p>
            Estos son nuestrso planes básicos. Si deseas servicios adicionales
            puedes solicitarlos mediante los siguientes medios
          </p>
          <hr />
          <div class="iconsBox">
            <a
            class="btn-get-started btn-get-startedC scrollto"
            href="https://www.facebook.com/tecnojack/"
            ><i class="bi bi-facebook"></i
          ></a>
          <a
            class="btn-get-started btn-get-startedC scrollto"
            href="https://wa.me/+573145406467"
            ><i class="bi bi-whatsapp"></i
          ></a>
          <a
            class="btn-get-started btn-get-startedC scrollto"
            href="https://www.tiktok.com/tecnojack/"
            ><i class="bi bi-tiktok"></i
          ></a>
          <a
            class="btn-get-started btn-get-startedC scrollto"
            href="https://www.youtube.com/@tecnojackyt"
            ><i class="bi bi-youtube"></i
          ></a>
          <a
          class="btn-get-started btn-get-startedC scrollto"
          href="https://www.instagram.com/tecnojack/"
          ><i class="bi bi-instagram"></i
        ></a>
          </div>

        </div>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #loading> loading... </ng-template>
