.gradient-custom-2 {
  /* fallback for old browsers */
  background: #b004e9;

  /* Chrome 10-25, Safari 5.1-6 */
  background: url("https://firebasestorage.googleapis.com/v0/b/mytech-d9ea3.appspot.com/o/src%2FIMG_8544-min.jpg?alt=media&token=6be87aff-5146-41ed-a617-7c6543c2b4f2") center center;
  background-size: cover;
}

@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}

@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
  }
}

img {
  width: 100%;
}
.form-outline
{
text-align: center;
}
label{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

