<section id="home" class="d-flex align-items-center">
  <div
    class="container text-center position-relative"
    data-aos="fade-in"
    data-aos-delay="200"
  >
    <h1>"EL ARTE DE SER UN PRO"</h1>
    <h2>INNOVACIÓN - CREATIVIDAD - INGENIO - ARTE</h2>
    <br />
    <br />

    <div>
      <h2 style="margin-bottom: -1px; color: rgb(254, 255, 255)">
        Te espero en mis redes sociales
      </h2>
      <a
        class="btn-get-started btn-get-startedF scrollto"
        href="https://www.facebook.com/tecnojackyt/"
        ><i class="bi bi-facebook"></i>Facebook</a
      >
      <a
        class="btn-get-started btn-get-startedY scrollto"
        href="https://www.youtube.com/@tecnojack"
        ><i class="bi bi-youtube"></i>YouTube</a
      >
      <a
        class="btn-get-started btn-get-startedI scrollto"
        href="https://www.instagram.com/tecnojack/"
        ><i class="bi bi-instagram"></i>Instagram</a
      >
      <a
        class="btn-get-started btn-get-startedT scrollto"
        href="https://www.tiktok.com/@tecnojackyt"
        ><i class="bi bi-tiktok"></i>Tiktok</a
      >
    </div>
    <br>
    <h1 style="color:  rgb(254, 251, 251); ">{{title}}</h1>
  </div>
</section>
