.gradient-custom-2 {
  /* fallback for old browsers */
  background: #b004e9;

  /* Chrome 10-25, Safari 5.1-6 */
  background: url("https://firebasestorage.googleapis.com/v0/b/mytech-d9ea3.appspot.com/o/src%2FTECNOJACK%20-%20copia.jpg?alt=media&token=a0dc4650-7e07-4293-8ebf-06ee0f14c547") center center;
  background-size: cover;
}

@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}

@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
  }
}

img {
  width: 100%;
}
.form-outline
{
text-align: center;
}
