<div class="container-fluid tm-container-content tm-mt-60" *ngIf="showGalery">
  <div class="row mb-4">
    <h2 class="col-6 tm-text-primary">ULTIMAS IMAGENES</h2>
    <div class="col-6 d-flex justify-content-end align-items-center"></div>
  </div>
  <hr />
  <div class="tm-gallery galeryContainer">
    <div *ngFor="let item of images" class="">
      <figure class="effect-ming tm-video-item">
        <img [src]="item" alt="Image" class="img-fluid" />
        <figcaption
          class="d-flex align-items-center justify-content-center"
          (click)="details(item)"
        >
          <h2><i class="bi bi-heart-fill"></i> Ver más</h2>
        </figcaption>
      </figure>
    </div>
  </div>
  <br />
  <hr>
</div>

<div class="container-fluid tm-container-content tm-mt-60" *ngIf="!showGalery">
  <div class="row tm-mb-90">
    <div class="col-xl-6 col-lg-7 col-md-6 col-sm-12 img-Details">
      <figure class="effect-ming tm-video-item">
        <img [src]="detailsImg" alt="Image" class="img-fluid img-" />
        <figcaption
          (click)="back()"
          cclass="d-flex align-items-center justify-content-center"
        >
          <h2>Volver</h2>
        </figcaption>
      </figure>
    </div>
    <div class="col-xl-6 col-lg-5 col-md-6 col-sm-12">
      <div class="tm-bg-gray tm-video-details">
        <p
          class="mb-4"
          style="
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
              sans-serif;
            font-size: larger;
          "
        >
          Esta es nuestra más reciente producción audiovisual, la boda de un
          gran amigo, Jesus David Mejía (Chucho), en La Pita, Sucre. En esta
          ocasión conté con el apoyo fotográfico de Jose Baldovino y las tomas
          aéreas con Dron de Kevin Pérez. Puedes apoyar nuestro trabajo

          <a href="https://paypal.me/tecnojack" target="_parent" rel="sponsored"
            >con una pequeña donación</a
          >
          via
          <a href="https://paypal.me/tecnojack" target="_parent" rel="sponsored"
            >paypal</a
          >
        </p>
        <div class="mb-4">
          <h3 class="tm-text-gray-dark mb-3">License</h3>
          <p>
            Free for both personal and commercial use. No need to pay anything.
            No need to make any attribution.
          </p>
        </div>
        <div class="tm-paging d-flex">
          <a
            class="tm-paging-link tm-paging-link-y"
            href="https://www.youtube.com/@tecnojack"
            ><i class="bi bi-youtube"></i>YOUTUBE</a
          >
          <a
            class="tm-paging-link tm-paging-link-d"
            href="https://paypal.me/tecnojack"
            ><i class="bi bi-paypal"></i>DONAR</a
          >
          <a
            class="tm-paging-link tm-paging-link-c"
            href="https://wa.me/+573145406467"
            ><i class="bi bi-whatsapp"></i>CONTACTAR</a
          >
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <h2 class="tm-text-primary mb-5">¿Quieres decir algo? </h2>
          <form id="contact-form" action="" method="POST" class="">
              <div class="form-group">
                  <textarea rows="5" name="message" class="form-control rounded-0" placeholder="Escribe tu comentario" required=></textarea>
              </div>

              <div class="form-group tm-text-right">
                  <button type="submit" class="btn btn-primary">Comentar</button>
              </div>
          </form>
      </div>
      </div>

    </div>
  </div>
  <div class="row mb-4">
    <h2 class="col-12 tm-text-primary"></h2>
  </div>
</div>
