<app-banner [title]="'CONTACTANOS'"></app-banner>

<div class="container-fluid tm-mt-60">
  <div class="row tm-mb-50">
    <div class="col-lg-4 col-12 mb-5">
      <form [formGroup]="formContact" (submit)="saveData()" class="tm-contact-form mx-auto">
        <h2 class="tm-text-primary mb-5">Fromulario de contacto</h2>

        <div class="form-group">
          <input type="text" formControlName="name" class="form-control rounded-0" placeholder="*¿Cuál es tu nombre?"
            required />
        </div>
        <div class="form-group">
          <input type="email" formControlName="email" class="form-control rounded-0" placeholder="Correo electrónico" />
        </div>
        <div class="form-group">
          <input type="number" formControlName="reason" class="form-control rounded-0" placeholder="*Número telefónico"
            required />
          <span style="color: rgb(255, 255, 255); font-size: 13px; background-color: #009999;">{{alertTlf}}</span>

        </div>
        <div class="form-group">
          <textarea rows="8" formControlName="message" class="form-control rounded-0"
            placeholder="*¿Cómo podemos ayudarte?" required=></textarea>
        </div>
        <span style="color: rgb(255, 255, 255); background-color: #009999;">{{alert}}</span>

        <div class="form-group tm-text-right col-12">
          <button type="submit" class="btn btn-primary col-6">Enviar</button>
          &nbsp;
          <a class="btn-get-started btn-get-startedC scrollto col-6" (click)="sendWhatSapp()"><i
              class="bi bi-whatsapp"></i>Por Whatsapp</a> </div>
      </form>
    </div>
    <div class="col-lg-4 col-12 mb-5">
      <div class="tm-address-col">
        <h2 class="tm-text-primary mb-5">¿Dónde encontranos? </h2>
        <p class="tm-mb-50">Estamos ubicados en la ciudad de Medellín, antioquia, en Colombia. Nuestra zona de mayor
          presencia es por los lados de Laures, Belén y alrededores. </p>
        <p class="tm-mb-50">Tenemos disponibilidad de translado a otras regiones del país, teniendo en cuenta que los
          gastos de viaticos en caso de contrataciones corren por cuenta del cliente. </p>
        <address class="tm-text-gray tm-mb-50">
          Puedes contactarnos llenando el formulario<br>
          o mediante los siguientes medios de comunicación:
        </address>
        <ul class="tm-contacts">
          <li>
            <a href="mailto:jakp2014@gmail.com?Subject=Interesado%20en%20el%20servicio%20de%20TECNOJACK"
              class="tm-text-gray">
              <i class="bi bi-envelope"></i>
              Email: jakp2014@gmail.com
            </a>
          </li>
          <li>
            <a href="https://wa.me/+573145406467" class="tm-text-gray">
              <i class="bi bi-telephone"></i>
              Tel: +573145406467
            </a>
          </li>
          <li>
            <a href="#" class="tm-text-gray">
              <i class="bi bi-globe"></i>
              Web: www.tencojack.co
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-lg-4 col-12">
      <h2 class="tm-text-primary mb-5">Miranos en el mapa</h2>

      <div class="mapouter mb-4">
        <div class="gmap-canvas">
          <iframe width="100%" height="520" id="gmap-canvas"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.1321740700137!2d-75.613529584588!3d6.24630752805499!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e44298310271d6f%3A0x2b6e65ad387bf909!2zQ3JhIDg4ICMzNWMtNjcsIENyaXN0w7NiYWwsIE1lZGVsbMOtbiwgTGEgQW3DqXJpY2EsIE1lZGVsbMOtbiwgQW50aW9xdWlh!5e0!3m2!1ses!2sco!4v1680274184789!5m2!1ses!2sco"
            frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        </div>
      </div>
    </div>
  </div>

</div>
